@model IEnumerable<Infrastructure.Web.Domain.ModelsView.BeamInfoView>
    @section easyui_css{
        <link rel="stylesheet" href="~/Style/EasyUI/easyui.css" />
    }
    <style>
        .datagrid-mask-msg {
            height: 36px !important;
        }

        .chosen-container {
            width: 100%;
            max-width: 362px;
        }

        .progress {
            width: 100%;
            max-width: 362px;
        }
    </style>
    <!--Action boxes-->
    <div class="row">
        <div class="col-sm-12">
            <form class="form-inline" id="SearchForm" onsubmit="return false;">
                <input type="hidden" id="project_id" name="project_id" value="@ViewBag.ProjectId" />
                <input type="hidden" id="currentUserId" value="@ViewBag.CurUserId" />
                <div class="form-group">
                    <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder="梁段名/图号/文件名称">
                    <a href="#" class="btn btn-info btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="查询条件"><i class="fa fa-search"></i>查询</a>
                </div>
                <div class="form-group pull-right">
                    <a href="/BeamInfo/Index?ProjectId=@ViewBag.ProjectId" class="btn btn-success btn-sm" id="btnReturn" data-toggle="tooltip" data-placement="top" title="返回">
                        返回
                    </a>
                </div>
            </form>

            <div class="clearfix"></div>

            <div class="widget-box">
                <div class="widget-content nopadding">
                    <table class="table table-bordered table-hover data-table">
                        <thead>
                            <tr>
                                <th style="width:5%;text-align:center;">@T("ID")</th>
                                <th>@T("项目名称")</th>
                                <th>@T("PDF文件名")</th>
                                <th>@T("梁段名")</th>
                                <th>@T("图号")</th>
                                <th>@T("操作")</th>
                                @*<th>@T("杆件编号")</th>*@

                            </tr>

                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="ModalTable" class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="blue bigger">请选择dwg文件上传</h4>
                </div>

                <div class="modal-body">
                    <form action="PostFile" id="ff" method="post" class="form-horizontal" data-ajax="false" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">项目:</label>
                            <div class="col-sm-9">
                                <span id="projectName" class="form-control" style="max-width: 362px"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">梁段名:</label>
                            <div class="col-sm-9">
                                <span id="beamName" class="form-control" style="max-width: 362px"></span>
                            </div>
                        </div>
                        <div id="uploader" class="wu-example">
                            <!--用来存放文件信息-->
                            <div id="thelist" class="uploader-list"></div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="btns">
                        <div id="picker">选择文件</div>
                        <button id="ctlBtn" class="btn btn-default btn-sm btn-primary">开始上传</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section scripts_Foot
{
        <script src="~/Scripts/ace/chosen.jquery.js?v=1"></script>
        <script src="~/Scripts/util.common.js"></script>
        <script type="text/javascript">
            $('[data-toggle="tooltip"]').tooltip();
            var popMenu;
            var IdCur;
            var tastStatus = { new: 0, pending: 1, approved: 2, rejected: 3 };
            var $ = jQuery,
                $list = $('#thelist'),
                $btn = $('#ctlBtn'),
                state = 'pending',
                uploader;
            $(document).ready(function () {
                LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                    "ajax": {
                        "url": "GetList"
                    },
                    "paging": true,
                    "info": false,
                    "aoColumns": [
                        { "mData": 'Index' },
                        { "mData": 'ProjectName' },
                        { "mData": 'FileName' },
                        { "mData": 'BeamName' },
                        { "mData": 'FigureNumber' },
                        //{ "mData": 'BarNumber' },
                    ],
                    "columnDefs": jQuery.extend(true, datatableSetting.columnDefs, [
                        {
                            "targets": 0,
                            "render": function (data, type, full, meta) {
                                return meta.row + 1
                                    ;
                            }
                        }, {
                            "targets": 5,
                            "render": function (data, type, full, meta) {
                                var oprStr = '';
                                if (!full.fileName) {
                                    oprStr += '<a href="#" onclick="uploadFile(\'' + full.ProjectName + '\',\'' + full.BeamName + '\',\''+ full.ProjectId + '\'); return false; " class="artDailog btn btn - info  btn-xs" style="margin - right: 4px; " data-toggle="tooltip" data-placement="top" title="上传文件"><i class="fa fa-upload"></i></a>';
                                }
                                return oprStr;
                            }
                        }
                    ]),
                    fnDrawCallback: function () {

                        $('[data-toggle="tooltip"]').tooltip();

                    }
                }));
                //inital select2
                $('.select2').css("width", "362px").select2({ allowClear: true });
                setTimeout(function () {
                    $('.chosen-container').removeAttr('style');
                }, 3000);
                //web uploader 初始化
                initWebUploader();
            });
            function clearFiles() {
                $list.children().remove();
            }
            function initWebUploader(url) {
                uploader = WebUploader.create({
                    // swf文件路径
                    swf: 'Scripts/webuploader/Uploader.swf',
                    // 文件接收服务端。
                    //server: "PostFile?Id=" + id + '&v=' + Math.random(),
                    // 选择文件的按钮。可选。
                    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                    pick: { id: '#picker', multiple: false},
                    fileNumLimit: 1,
                    // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
                    resize: false,
                    // 只允许选择什么类型文件。
                    accept: {
                        title: 'dwg文件',
                        extensions: 'dwg'
                    },
                    threads: 1, //线程数量             
                });
                initWebuploaderEvent(uploader);       
            }

            function uploadFile(project, beam, id) {
                $('#projectName').text(project);
                $('#beamName').text(beam);
                $('#ModalTable').modal('show');
                uploader.options.server = "PostFile?projectId=" + id + "&beamName=" + encodeURI(beam) + "&v=" + Math.random();
            }

        </script>
    }
