@using Infrastructure.Web.Domain.ModelsView;
@using Infrastructure.Web.Domain.Entity;

@model Infrastructure.Web.Domain.ModelsView.WeldCategoryLabelingView
@{
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}
@section easyui_css{
    <link rel="stylesheet" href="~/Style/EasyUI/easyui.css" />

}
<style>
    .datagrid-mask-msg {
        height: 36px !important;
    }

    label.ClassName::before {
        content: '* ';
        color: red;
    }

    .main-container {
        overflow: scroll;
        min-height: 700px;
        height: auto;
    }

    #cadContent {
        margin-left: 0px;
        position: relative;
        /*margin-right: 20px;*/
    }

    .control-label {
    }

    table {
        width: 100%;
    }

    tr {
        width: 100%;
    }

    td {
        vertical-align: central;
        height: 42px;
    }

    .first-td {
        width: 100px;
    }

    .second-td {
        width: 220px;
    }

    .thrid-td {
        width: 100px
    }

    label {
        width: 100%;
        text-align: right;
    }

    .form-control {
        min-width: 160px !important;
    }

    .ui-dialog-content {
        width: 300px !important;
        max-width: 300px !important;
        max-height: 200px !important;
    }
</style>
<!--Action boxes-->

<input type="hidden" id="beamId" name="beamId" value="@ViewBag.BeamId" />
<input type="hidden" id="projectId" name="projectId" value="@ViewBag.ProjectId" />
<input type="hidden" id="fileName" name="fileName" value="@ViewBag.FileName" />

<div id="ModalTable" class="modal" tabindex="-1" aria-show="true">
    <div class="modal-dialog" style="">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="blue bigger">请填写以下内容</h4>
            </div>

            <div class="modal-body">
                <form action="Post" id="ff" method="get" class="form-horizontal" datasource="Get">
                    <input type="hidden" id="ID" name="ID" value="@ViewBag.Id" />
                    <input type="hidden" id="Ids" name="Ids" value="@Model.Ids" />
                    <input type="hidden" id="beamId" name="beamId" value="@ViewBag.BeamId" />
                    <input type="hidden" id="HandleID" name="HandleID" value="" data-bind="value: HandleID" />
                    <input type="hidden" name="LengthVal" id="LengthVal" class="form-control" data-bind="value: LengthVal" />
                    <input type="hidden" name="WidthVal" id="WidthVal" class="form-control" data-bind="value: WidthVal" />
                    <input type="hidden" name="BeamNum" id="BeamNum" class="form-control" value="4" />
                    <table>
                        <tr class="row">
                            <td class="first-td">
                                <label for="FigureNumber" class="col-sm-5 control-label ClassName">图号:</label>
                            </td>
                            <td class="second-td">
                                <div class="col-sm-7">
                                    <select class="single-select form-control" name="FigureNumber" id="FigureNumber" data-placeholder="请选择图号" data-bind="value: FigureNumber" title="图号">
                                        @*@foreach (SelectListItem a in ViewBag.Figures)
                                            {
                                                if (!string.IsNullOrEmpty(a.Value))
                                                {
                                                    <option value="@a.Value">@a.Text</option>
                                                }
                                            }*@
                                    </select>
                                </div>
                            </td>
                            <td class="thrid-td">
                                <label for="BarNumber" class="col-sm-5 control-label ">杆件编号:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    <select class="single-select form-control" name="BarNumber" id="BarNumber" data-placeholder="请选择杆件编号" data-bind="value: BarNumber">

                                        @*@foreach (SelectListItem a in ViewBag.Bars)
                                            {
                                                if (!string.IsNullOrEmpty(a.Value))
                                                {
                                                    <option value="@a.Value">@a.Text</option>
                                                }
                                            }*@

                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr class="row">
                            <td class="thrid-td">
                                <label for="BoardNumber" class="col-sm-5 control-label ClassName">钢板编号:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    <select class="single-select form-control" name="BoardNumber" id="BoardNumber" data-placeholder="请选择钢板编号" data-bind="value: BoardNumber">
                                        @*@foreach (SelectListItem a in ViewBag.Boards)
                                            {
                                                if (!string.IsNullOrEmpty(a.Value))
                                                {
                                                    <option value="@a.Value">@a.Text</option>
                                                }
                                            }*@
                                    </select>
                                </div>
                            </td>
                            <td>
                                <label class="col-sm-5 control-label ClassName">焊接边数:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    <select class="single-select form-control" name="WeldLengthSel" validate="{required:true}" id="WeldLengthSel">

                                        <option value="长">长</option>
                                        <option value="宽">宽</option>
                                        <option value="长+宽">长+宽</option>
                                        <option value="2*宽+长">2*宽+长</option>
                                        <option value="2*长+宽">2*长+宽</option>
                                        <option value="2*(长+宽)">2*(长+宽)</option>
                                    </select>
                                </div>
                            </td>
                        </tr>



                        <tr class="row">
                            <td>
                                <label class="col-sm-5 control-label">焊缝长度:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    <input type="text" name="WeldLength" id="WeldLength" class="form-control" style="background-color:yellow" validate="{required:true}" data-bind="value: WeldLength" />
                                </div>
                            </td>

                            <td>
                                <label class="col-sm-5 control-label ClassName">焊缝数量:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">

                                    <input type="text" name="Quantity" id="Quantity" class="form-control" validate="{required:true}" style="background-color:yellow" data-bind="value: Quantity" />
                                </div>
                            </td>
                        </tr>
                        <tr style="border:3px solid gray;padding:3px"></tr>
                        <tr class="row">
                            <td>
                                <label class="col-sm-5 control-label ClassName">焊缝位置:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    <select class="single-select form-control" name="WeldLocation" id="WeldLocation" data-placeholder="请选择焊缝位置" validate="{required:true}" data-geturl="/WeldLocation/GetDropdownList">
                                        @foreach (string a in ViewBag.weldLocations)
                                        {
                                            if (!string.IsNullOrEmpty(a))
                                            {
                                                <option value="@a">@a</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <label class="col-sm-5 control-label ClassName">焊缝类型:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    @*<select class="single-select form-control" id="WeldType" name="WeldType" style="" data-bind="value:WeldType" validate="{required:true}" data-geturl="/WeldGeometry/GetDropdownList">
                                            @foreach (string a in ViewBag.weldGeometries)
                                            {
                                                if (!string.IsNullOrEmpty(a))
                                                {
                                                    <option value="@a">@a</option>
                                                }
                                            }
                                        </select>*@
                                    <input type="text" name="WeldType" id="WeldType" class="form-control" data-bind="value: WeldType" readonly />
                                </div>
                            </td>
                        </tr>

                        <tr class="row">
                            <td>
                                <label class="col-sm-5 control-label ClassName">板厚:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    @*<select class="single-select form-control" name="Thickness" id="Thickness" data-placeholder="请选择板厚" validate="{required:true}">
                                            @foreach (string a in ViewBag.ThickTypes)
                                            {
                                                if (!string.IsNullOrEmpty(a))
                                                {
                                                    <option value="@a">@a</option>
                                                }
                                            }
                                        </select>*@
                                    <input type="text" name="Thickness" id="Thickness" class="form-control" data-bind="value: Thickness" readonly />
                                </div>
                            </td>
                            <td>
                                <label class="col-sm-5 control-label ClassName">焊材类型:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    @*<select class="single-select form-control" name="WeldingType" id="WeldingType" data-placeholder="请选择焊材类型" validate="{required:true}">
                                            @foreach (string a in ViewBag.WeldingModels)
                                            {
                                                if (!string.IsNullOrEmpty(a))
                                                {
                                                    <option value="@a">@a</option>
                                                }
                                            }
                                        </select>*@
                                    <input type="text" name="WeldingType" id="WeldingType" class="form-control" data-bind="value: WeldingType" readonly/>
                                </div>
                            </td>



                        </tr>
                        <tr class="row">
                            <td>
                                <label class="col-sm-5 control-label ClassName">焊缝截面积:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    @*<select class="single-select form-control" name="SectionArea" id="SectionArea" validate="{required:true}" data-placeholder="请选择焊缝截面积" data-bind="value: SectionArea">
                                            @foreach (string a in ViewBag.Areas)
                                            {
                                                <option value="@a">@a</option>
                                            }
                                        </select>*@
                                    <input type="text" name="SectionArea" id="SectionArea" class="form-control" data-bind="value: SectionArea"  readonly/>
                                </div>
                            </td>
                        </tr>
                        <tr style="border:3px solid gray;"></tr>
                        <tr class="row">
                            <td>
                                <label class="col-sm-5 control-label">熔敷密度:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">
                                    <input type="text" name="MentalDensity" id="MentalDensity" class="form-control" data-bind="value: MentalDensity" />
                                </div>
                            </td>
                            <td>
                                <label class="col-sm-5 control-label ClassName">消耗系数:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">

                                    <input type="text" name="ConsumeFactor" id="ConsumeFactor" class="form-control" validate="{required:true}" data-bind="value: ConsumeFactor" />
                                </div>
                            </td>

                        </tr>
                        <tr class="row">


                            <td>
                                <label class="col-sm-5 control-label">焊缝质量:</label>
                            </td>
                            <td>
                                <div class="col-sm-7">

                                    <input type="text" name="WeldQuanlity" id="WeldQuanlity" class="form-control" data-bind="value: WeldQuanlity" readonly />
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" id="btnCancel">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>

                <button class="btn btn-sm btn-primary" id="btnSave" data-action="save">
                    <i class="ace-icon fa fa-check"></i>
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

<div id="frameContainer" style="position: absolute; left: 0px; top: 90px; width: 100%; height: 200%; z-index: 9; display:none;">
    <iframe id='iframei' src="javascript:0" style="position:absolute; border:none; visibility:inherit; top:-20px; left:-20px;  height:300%; width:100%; z-index:-1; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);"></iframe>
</div>


@section scripts_Foot
{
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="~/Scripts/linq/linq.min.js"></script>
    <script type="text/javascript">
        //$('[data-toggle="tooltip"]').tooltip();
        var popMenu;
        var IdCur;
        var lastCircleHandle;

        $(document).ready(function () {
            $('#WeldLocation').change();
            var beamId = $('')

            //inital select2
            $('.select2').css("width", "362px").select2({ allowClear: true });
            $('#btnCollapse').on('click', function () {
                if ($('#tableDiv').is(':visible')) {
                    $('#tableDiv').hide(300);
                    $(this).find('i').removeClass('fa-chevron-up');
                    $(this).find('i').addClass('fa-chevron-down');
                    $(this).attr('title', '展开');
                } else {
                    $('#tableDiv').show(300);
                    $(this).find('i').removeClass('fa-chevron-down');
                    $(this).find('i').addClass('fa-chevron-up');
                    $(this).attr('title', '折叠');
                }
            });

            LEAP.Common.MainPop = $("#ModalTable").formPopup({
                fnAfterSuccess: function (r) {
                    bootbox.alert('保存成功');
                    window.close();
                },
                fnAfterPostError: function (r) {
                    //alert('保存失败');
                }
            });
            LEAP.Common.MainPop.ShowUpdateInfo(@Model.Id);

            //$('#ModalTable').show();
        });
        $('#iframei').on('mousedown', function (e) {
            //获取x坐标和y坐标
            x = e.clientX;
            y = e.clientY;

            //获取左部和顶部的偏移量
            l = this.offsetLeft;
            t = this.offsetTop;
            //开关打开
            isDown = true;
            //设置样式
            this.style.cursor = 'move';
        });
        $('#iframei').on('mousemove', function (e) {
            if (isDown == false) {
                return;
            }
            //获取x和y
            var nx = e.clientX;
            var ny = e.clientY;
            //计算移动后的左偏移量和顶部的偏移量
            var nl = nx - (x - l);
            var nt = ny - (y - t);

            this.style.left = nl + 'px';
            this.style.top = nt + 'px';
        });
        //$('#iframei').on('mouseup', function (e) {
        //    //开关关闭
        //    isDown = false;
        //    this.style.cursor = 'default';
        //});
        $('#ModalTable').on('hide.bs.modal', function () {
            // 不要让弹出框关闭
            return false;
            $('#ModalTable').modal('show');
        });
        //$('#ModalTable').on('show.bs.modal', function () {
        //    // 弹出框动作
        //    $('#frameContainer').show();
        //});
        var FigureNumber = document.getElementById('FigureNumber');
        var BoardNumber = document.getElementById('BoardNumber');
        var BarNumber = document.getElementById('BarNumber');
        //杆件编号
        $("#FigureNumber").change(function () {
            $('#BarNumber').empty();
            $('#BoardNumber').empty();

            if ($("#BarNumber").val() != '') {
                //showChild(TherapeuticArea, TradeName, tradeNameArr, $('#TradeName'));
                var queryResult = Enumerable.From(BiddingQuerys)
                    .Where(function (x) { return x.FigureNumber == FigureNumber.value })
                    .Select(function (x) { return x.BarNumber }).Distinct().ToArray();
                showChild1(BarNumber, queryResult);
                $('#BarNumber').removeAttr("disabled");
                var queryResult1 = Enumerable.From(BiddingQuerys)
                    .Where(function (x) {
                        return x.FigureNumber == FigureNumber.value
                    })
                    .Select(function (x) { return x.BoardNumber }).Distinct().ToArray();
                showChild1(BoardNumber, queryResult1);
                $('#BoardNumber').removeAttr("disabled");
            }
        });
        // 钢板编号
        $('#BarNumber').change(function () {

            $('#BoardNumber').empty();

            //showChild(TradeName, DosageForm, dosageFormArr, $('#DosageForm'));
            var queryResult = Enumerable.From(BiddingQuerys)
                .Where(function (x) {
                    return x.FigureNumber == FigureNumber.value && x.BarNumber == BarNumber.value
                })
                .Select(function (x) { return x.BoardNumber }).Distinct().ToArray();
            showChild1(BoardNumber, queryResult);
            $('#BoardNumber').removeAttr("disabled");

        });
        $.ajax({
            cache: true,
            type: "GET",
            url: "GetWeldSearchQuerys?ID=" + $('#ID').val(),
            async: true,
            error: function (request) {
                artDialog.alert("查询条件信息获取失败。");
            },
            success: function (data) {
                if (data == null) {
                    artDialog.alert("查询条件信息获取失败。");
                    return;
                }
                BiddingQuerys = data;
                var queryResult = Enumerable.From(BiddingQuerys)
                    .Select(function (x) { return x.FigureNumber })
                    .Distinct()
                    .ToArray();
                showChild1(FigureNumber, queryResult);
                InitSelect();
            }
        });


        function showChild1(child, childArr) {
            //child.empty();
            var count = childArr.length;

            var childOption = document.createElement('option');
            //ie不支持option对象的value,所以加childOption.text
            childOption.value = childOption.text = '';
            child.options.add(childOption);

            for (var i = 0; i < count; i++) {
                //判断所选的值即父类，与当前节点第一个数组元素是否相市'
                //不取第一个数组元市'因为第一个是父类，所以j市'开始，而不市'

                childOption = document.createElement('option');
                //ie不支持option对象的value,所以加childOption.text
                childOption.value = childOption.text = childArr[i];
                if (childOption.text!="null") {
                    child.options.add(childOption);
                }


            }
        }
        $(document).on('change', '#BoardNumber', function () {
            var postVaule = { "FigureNumber": $("#FigureNumber").val(), "BoardNumber": $("#BoardNumber").val() }
            var jsonVaule = JSON.stringify(postVaule);

            $.ajax({
                url: "/WeldCategory/GetWeldingProperty",
                type: "post",
                contentType: "application/json",
                data: jsonVaule,
                success: function (Data) {
                    if (Data != null) {
                        if (Data.result.indexOf('success') > -1) {
                            $("#WidthVal").val(Data.data1.WidthVal);
                            $("#LengthVal").val(Data.data1.LengthVal);
                            $("#BeamNum").val(Data.data1.BeamNum);
                            $("#Quantity").val(Data.data1.WeldNum);
                            WeldQuantity();
                        }
                    }
                    else {
                        alert("未查询到图号对应的焊缝信息.")
                    }
                }
            });
        });
        $(document).on('change', '#WeldLocation', function () {
            var postVaule = { "beamId": $('#beamId').val(), "WeldLocation": $("#WeldLocation").val() }
            var jsonVaule = JSON.stringify(postVaule);

            $.ajax({
                url: "/WeldCategory/GetWeldTypeProperty",
                type: "post",
                contentType: "application/json",
                data: jsonVaule,
                success: function (Data) {
                    if (Data != null) {
                        if (Data.result.indexOf('success') > -1) {
                            $("#WeldingType").val(Data.data1.WeldingModel);
                            $("#WeldType").val(Data.data1.WeldType);
                            $("#Thickness").val(Data.data1.ThickType);
                            $("#SectionArea").val(Data.data1.SectionalArea);
                            WeldQuantity();
                        }
                    }
                    else {
                        alert("未查询到图号对应的焊缝信息.")
                    }
                }
            });
        });
        $(document).on('change', '#WeldLengthSel', function () {
            var txt = $('#WeldLengthSel option:selected').val();

            if (txt == '长') {
                $("#WeldLength").val($("#LengthVal").val());

            }
            if (txt == '宽') {
                $("#WeldLength").val($("#WidthVal").val());

            }
            if (txt == '长+宽') {
                $("#WeldLength").val(parseInt($("#LengthVal").val()) + parseInt($("#WidthVal").val()));

            }
            if (txt == '2*宽+长') {
                $("#WeldLength").val(2 * parseInt($("#WidthVal").val()) + parseInt($("#LengthVal").val()));

            }
            if (txt == '2*长+宽') {
                $("#WeldLength").val(2 * parseInt($("#LengthVal").val()) + parseInt($("#WidthVal").val()));

            }
            if (txt == '2*(长+宽)') {
                $("#WeldLength").val(2 * (parseInt($("#LengthVal").val()) + parseInt($("#WidthVal").val())));

            }

            WeldQuantity();
        });
        $(document).on('change', '#SectionArea', function () {
            WeldQuantity();
        });

        $(document).on('change', '#Quantity', function () {
            WeldQuantity();
        });

        $("#Quantity").blur(function () {
            WeldQuantity();
        });
        function WeldQuantity() {
            $("#WeldQuanlity").val($("#WeldLength").val() * $("#BeamNum").val()
                * $("#Quantity").val() * $("#SectionArea").val() * 7.85 / 1000000)
            $("#WeldQuanlity").val(Math.floor($("#WeldQuanlity").val() * 100) / 100);
        }
        //焊缝数量
        $("input[name='Quantity']").keyup(function () {
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).bind("paste", function () {  //CTR+V事件处理
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用
        //焊缝长度
        $("input[name='WeldLength']").keyup(function () {
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).bind("paste", function () {  //CTR+V事件处理
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用

        //熔度
        $("input[name='MentalDensity']").keyup(function () {
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).bind("paste", function () {  //CTR+V事件处理
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用

        //消耗系数
        $("input[name='ConsumeFactor']").keyup(function () {
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).bind("paste", function () {  //CTR+V事件处理
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用

        //焊缝质量
        $("input[name='WeldQuanlity']").keyup(function () {
            var tmptxt = $(this).val();
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).bind("paste", function () {  //CTR+V事件处理
            $(this).val($(this).val().replace(/[^0-9.]/g, ''));
        }).css("ime-mode", "disabled"); //CSS设置输入法不可用

        function saveWeldData(list, mode) {
            if (!list) {
                alert('未识别到焊缝');
            }
            var filename = $('#filename').val();
            if (!filename) {
                filename = 'sample1.dwg';
            }

            $.post('/WeldCategory/PostWeld',
                { beamId: $('#beamId').val(), dwgfile: filename, weldList: list }
            ).done(function (r) {
                //$('.data-table').trigger('');
                LEAP.Common.MainPop.options.dataTable.fnDraw(false);
                if (mode === 2) { //手动添加焊缝操作
                    alert("焊缝数据已添加");
                } else { //全图识别操作
                    alert("识别完成");
                }
            });
        }

        function AddHanfeng() {
            window.alert('请点击CAD相应位置开始添加焊缝');
            DoCmd(1);
        }
        $('#btnCancel').on('click', function () {
            window.close();
        });
        function InitSelect() {
            //select 初始化
            var figureNum = '@Model.FigureNumber';
            var barNum = '@Model.BarNumber';
            var boardNum = '@Model.BoardNumber';
            if (figureNum) {
                setTimeout(function () {
                    $('#FigureNumber').change();
                   
                    if (barNum) {
                        $('#BarNumber').val(barNum);
                    }
                    if (boardNum) {
                        $('#BoardNumber').val(boardNum);
                    }
                }, 1000);
            }
        }
    </script>

}