@using Infrastructure.Web.Domain.ModelsView;
@using Infrastructure.Web.Domain.Entity;

@{
    ViewBag.Title = "焊缝标注";
}
@section easyui_css{
    <link rel="stylesheet" href="~/Style/EasyUI/easyui.css" />

}
<style>
    .datagrid-mask-msg {
        height: 36px !important;
    }

    .main-container {
        overflow: scroll;
        min-height: 700px;
        height: auto;
    }

    #cadContent {
        margin-left: 0px;
        position: relative;
        /*margin-right: 20px;*/
    }
</style>
<!--Action boxes-->

<div class="row">
    <div class="col-sm-12">
        @*<div class="widget-header">
                <h4 class="widget-title">已识别焊缝列表</h4>
                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>*@
        <form class="form-inline" id="SearchForm">
            <div class="form-group">
                <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder="图号">
                <input id="locatedId" name="locatedId" type="hidden" value="0" />
                <a href="#" class="btn btn-info btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="查询" data-original-title="查询"><i class="fa fa-search">查询</i></a>
                <input type="button" id="btnShowAll" class="btn btn-info  btn-sm" value="显示所有" style="display:none" onclick="showAll();">
            </div>
            <div class="form-group">
                @if (ViewBag.ViewModel == 0)
                {
                    <input type="button" class="btn btn-info  btn-sm" value="焊接符号识别" data-toggle="tooltip" title="焊接符号识别" onclick="myclick5();">
                    <input type="button" class="btn btn-info  btn-sm" value="提交审核" data-toggle="tooltip" title="提交审核" onclick="requestApprove();">
                    @*<input type="button" class="btn btn-sm" value="隐藏图层" onclick="DoCmd(3);">
            <input type="button" class="btn btn-sm" value="显示图层" onclick="DoCmd(4);">*@
                    <input type="button" class="btn btn-info  btn-sm" value="顺时针转90度" data-toggle="tooltip" title="顺时针转90度" onclick="DoCmd(6);">
                    <input type="button" class="btn btn-info  btn-sm" value="逆时针转90度" data-toggle="tooltip" title="逆时针转90度" onclick="DoCmd(7)">
                    <input type="button" class="btn btn-info  btn-sm" value="批量编辑" data-toggle="tooltip" title="批量编辑" onclick="batchEdit()">
                }
            </div>
            <div class="form-group pull-right">

                @*<a href="~/beaminfo/index?ProjectId=@ViewBag.ProjectId" class="btn btn-sm" data-toggle="tooltip" data-placement="top" title="保存文件">
                        进行下一梁段
                    </a>*@
                @if (ViewBag.ViewModel == 0)
                {
                    <a href="~/CategoryStat/index?ProjectId=@ViewBag.ProjectId&beamId=@ViewBag.BeamId" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="返回类别统计">
                        返回类别统计
                    </a>
                    @*<a href="#" class="btn btn-info btn-sm" id="nextBeam" onclick="nextBeam(@ViewBag.ProjectId,@ViewBag.BeamId); return false;" data-toggle="tooltip" data-placement="top" title="进行下一梁段">
                            进行下一梁段
                        </a>*@
                    <a href="~/beaminfo/index" class="btn btn-info btn-sm" id="nextBeam"  data-toggle="tooltip" data-placement="top" title="进行下一梁段">
                        进行下一梁段
                    </a>
                    <a href="#" class="btn btn-info btn-sm" id="btnSaveFile" data-toggle="tooltip" data-placement="top" title="保存文件">
                        保存文件
                    </a>
                }
                <a href="#" class="btn btn-info btn-sm" id="btnCollapse" data-action="collapse" title="折叠">
                    <i class="ace-icon fa fa-chevron-up">折叠</i>
                </a>
            </div>
        </form>
        <div class="clearfix"></div>

        <div id="tableDiv" class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered table-hover data-table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" value="全选" /></th>
                            <th style="width:5%;text-align:center;">@T("序号")</th>
                            <th>@T("图号")</th>
                            <th>@T("板件号")</th>
                            <th>@T("焊缝类型")</th>
                            <th>@T("板厚(mm)")</th>
                            <th>@T("焊缝位置")</th>
                            <th>@T("消耗系数")</th>
                            <th>@T("熔敷密度")</th>
                            <th>@T("焊缝截面积(mm^2)")</th>
                            <th>@T("焊缝长度")</th>
                            <th>@T("焊缝质量")</th>
                            <th>@T("数量")</th>
                            <th>@T("长度")</th>
                            <th style="width:10%;">@T("操作")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <input type="hidden" id="beamId" name="beamId" value="@ViewBag.BeamId" />
    <input type="hidden" id="projectId" name="projectId" value="@ViewBag.ProjectId" />
    <input type="hidden" id="fileName" name="fileName" value="@ViewBag.FileName" />
    <input type="hidden" id="filePath" name="filePath" value="@ViewBag.FilePath" />
    <input type="hidden" id="fileServerPath" name="fileServerPath" value="@ViewBag.FileServerPath" />
</div>

<div id="ModalTable" class="modal" tabindex="-1" aria-show="true">
    <div class="modal-dialog" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">请填写以下内容</h4>
            </div>

            <div class="modal-body">
                <form action="Post" id="ff" method="get" class="form-horizontal" datasource="Get">
                    <input type="hidden" id="ID" name="ID" value="0" />
                    <input type="hidden" id="beamId" name="beamId" value="@ViewBag.BeamId" />
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="FigureNumber" class="col-sm-5 control-label">图号:</label>
                            <div class="col-sm-7">
                                <select class="single-select form-control" name="FigureNumber" id="FigureNumber" data-placeholder="请选择图号" data-bind="value: FigureNumber" title="图号">
                                    @foreach (SelectListItem a in ViewBag.Figures)
                                    {
                                        if (!string.IsNullOrEmpty(a.Value))
                                        {
                                            <option value="@a.Value">@a.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="BoardNumber" class="col-sm-5 control-label">板件号:</label>
                            <div class="col-sm-7">
                                <select class="single-select form-control" name="BoardNumber" id="BoardNumber" data-placeholder="请选择板件号" data-bind="value: BoardNumber">
                                    @foreach (SelectListItem a in ViewBag.Boards)
                                    {
                                        if (!string.IsNullOrEmpty(a.Value))
                                        {
                                            <option value="@a.Value">@a.Text</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">焊缝类型:</label>
                            <div class="col-sm-7">
                                <select class="single-select form-control" id="WeldType" name="WeldType" style="" data-bind="value:WeldType" validate="{required:true}" data-geturl="/WeldGeometry/GetDropdownList">
                                    @foreach (string a in ViewBag.weldGeometries)
                                    {
                                        if (!string.IsNullOrEmpty(a))
                                        {
                                            <option value="@a">@a</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">焊缝位置:</label>
                            <div class="col-sm-7">
                                <select class="single-select form-control" name="WeldLocation" id="WeldLocation" data-placeholder="请选择焊缝位置" validate="{required:true}" data-geturl="/WeldLocation/GetDropdownList">
                                    @foreach (string a in ViewBag.weldLocations)
                                    {
                                        if (!string.IsNullOrEmpty(a))
                                        {
                                            <option value="@a">@a</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row hidden">
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">长度:</label>
                            <div class="col-sm-7">
                                <input type="text" name="LengthVal" id="LengthVal" class="form-control" validate="{required:true}" data-bind="value: LengthVal" />
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">板厚:</label>
                            <div class="col-sm-7">

                                <input type="text" name="Thickness" id="Thickness" class="form-control" validate="{required:true}" data-bind="value: Thickness" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">熔敷密度:</label>
                            <div class="col-sm-7">
                                <input type="text" name="MentalDensity" id="MentalDensity" class="form-control" validate="{required:true}" data-bind="value: MentalDensity" />
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">消耗系数:</label>
                            <div class="col-sm-7">

                                <input type="text" name="ConsumeFactor" id="ConsumeFactor" class="form-control" validate="{required:true}" data-bind="value: ConsumeFactor" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">焊缝截面积:</label>
                            <div class="col-sm-7">
                                <select class="single-select form-control" name="SectionArea" id="SectionArea" validate="{required:true}" data-placeholder="请选择焊缝截面积" data-bind="value: SectionArea">
                                    @foreach (string a in ViewBag.Areas)
                                    {
                                        <option value="@a">@a</option>
                                    }
                                </select>
                            </div>
                        </div>

                        @*<div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">焊接边数:</label>
                            <div class="col-sm-7">

                                <input type="text" name="WeldingNumber" id="WeldingNumber" class="form-control" validate="{required:true}" data-bind="value: WeldingNumber" />
                            </div>
                        </div>*@
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">梁段数量:</label>
                            <div class="col-sm-7">

                                <input type="text" name="BeamNum" id="BeamNum" class="form-control" validate="{required:true}" data-bind="value: BeamNum" />
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">焊缝数量:</label>
                            <div class="col-sm-7">

                                <input type="text" name="Quantity" id="Quantity" class="form-control" validate="{required:true}" data-bind="value: Quantity" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">宽度:</label>
                            <div class="col-sm-7">
                                <input type="text" name="WidthVal" id="WidthVal" class="form-control" validate="{required:true}" data-bind="value: WidthVal" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">焊缝长度:</label>
                            <div class="col-sm-7">
                                <select class="single-select form-control" name="WeldLengthSel" validate="{required:true}" id="WeldLengthSel">

                                    <option value="长">长</option>
                                    <option value="宽">宽</option>
                                    <option value="长+宽">长+宽</option>
                                    <option value="2*宽+长">2*宽+长</option>
                                    <option value="2*长+宽">2*长+宽</option>
                                    <option value="2*(长+宽)">2*(长+宽)</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">焊缝长度值:</label>
                            <div class="col-sm-7">
                                <input type="text" name="WeldLength" id="WeldLength" class="form-control" validate="{required:true}" data-bind="value: WeldLength" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label class="col-sm-5 control-label">焊缝质量:</label>
                            <div class="col-sm-7">

                                <input type="text" name="WeldQuanlity" id="WeldQuanlity" class="form-control" validate="{required:true}" data-bind="value: WeldQuanlity" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>

                <button class="btn btn-sm btn-primary" data-action="save">
                    <i class="ace-icon fa fa-check"></i>
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

<div id="frameContainer" style="position: absolute; left: 0px; top: 90px; width: 100%; height: 200%; z-index: 9; display:none;">
    @*<div id="dragPanel" style="width:100%;height:20px;"></div>*@
    <iframe id='iframei' src="javascript:0" style="position:absolute; border:none; visibility:inherit; top:-20px; left:-20px;  height:300%; width:100%; z-index:-1; filter: progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0);"></iframe>
</div>


@section scripts_Foot
{
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip({ position:'top' });
        var popMenu;
        var IdCur;
        var lastCircleHandle;
        var editModalSetting = 'dialogHeight:600px;dialogWidth:700px;dialogTop:' + ((screen.height - 600) / 2 - 20) + 'px;dialogLeft:'
            + ((screen.width - 600) / 2) + 'px;resizable:yes;center:yes;status:no;'
            ; //编辑模态窗口参数
        var tableModalSetting = {}; //数据列表窗口参数
        var isViewModel = @ViewBag.ViewModel;
        var lstPaging = {};
        var isApproval = 0;

        $(document).ready(function () {
            var beamId = $('')
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetList?beamId=" + $('#beamId').val()
                },
                "paging": true,
                "info": false,
                "aoColumns": [
                    { "mData": "Id" },
                    { "mData": 'Index' },
                    { "mData": 'FigureNumber' },
                    { "mData": 'BoardNumber' },
                    { "mData": 'WeldType' },
                    { "mData": 'Thickness' },
                    { "mData": 'WeldLocation' },
                    { "mData": 'ConsumeFactor' },
                    { "mData": 'MentalDensity' },
                    { "mData": 'SectionArea' },
                    { "mData": 'WeldLength' },
                    { "mData": 'WeldQuanlity' },
                    { "mData": 'Quantity' },
                    { "mData": 'LengthVal' }
                ],
                "columnDefs": [
                    {
                        "targets": 0,
                        "render": function (data, type, full, meta) {
                            return '<input type="checkbox" value="' + full.Id + '" title="' + full.Index + '" id="checkbox" />';
                        }
                    },
                    {
                        "targets": 15,
                        "render": function (data, type, full, meta) {
                            var oprStr = '';
                            if (!isViewModel) {
                                oprStr += '<a href="#" onclick="showEditForm(\'' + full.Id + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>';
                            }
                            oprStr += '<a href="#" onclick="DingWei(\'' + full.HandleID + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="定位">定位</a>';
                            if (!isViewModel) {
                                oprStr += '<a href="#" onclick="DeleteData(\'' + full.Id + '\',2);return false;" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>';
                            }
                            return oprStr;
                        }
                    }],
                fnDrawCallback: function () {
                    lstPaging.Index = LEAP.Common.MainPop.options.dataTable.fnSettings()._iDisplayStart;
                    $('[data-toggle="tooltip"]').tooltip({ position: 'top' });
                }
            }));
            //inital select2
            $('.select2').css("width", "362px").select2({ allowClear: true });
            $('#btnCollapse').on('click', function () {
                if ($('#tableDiv').is(':visible')) {
                    $('#tableDiv').hide(300);
                    $(this).find('i').removeClass('fa-chevron-up');
                    $(this).find('i').addClass('fa-chevron-down');
                    $(this).attr('title', '展开');
                } else {
                    $('#tableDiv').show(300);
                    $(this).find('i').removeClass('fa-chevron-down');
                    $(this).find('i').addClass('fa-chevron-up');
                    $(this).attr('title', '折叠');
                }
            });
       
            $('#btnSaveFile').click(function () {
                if (window.confirm("确定保存当前文件到服务器？")) {
                    if (lastCircleHandle) {
                        StopTwinkeEntByHandle(lastCircleHandle);
                    }
                    if (saveFile()) {
                        alert('保存成功');
                    } else {
                        alert('保存失败');
                    }
                }
            });
            window.onbeforeunload = function (event) {
                if (!isApproval) {
                    var dialogText = '确认要离开此页面？您对图纸的修改将无法保存，如有修改，请先保存文件。';
                    saveFile();
                    event.returnValue = dialogText;
                    return dialogText;
                }
            }
        });
        $('#iframei').on('mousedown', function (e) {
            //获取x坐标和y坐标
            x = e.clientX;
            y = e.clientY;

            //获取左部和顶部的偏移量
            l = this.offsetLeft;
            t = this.offsetTop;
            //开关打开
            isDown = true;
            //设置样式
            this.style.cursor = 'move';
        });
        $('#iframei').on('mousemove', function (e) {
            if (isDown == false) {
                return;
            }
            //获取x和y
            var nx = e.clientX;
            var ny = e.clientY;
            //计算移动后的左偏移量和顶部的偏移量
            var nl = nx - (x - l);
            var nt = ny - (y - t);

            this.style.left = nl + 'px';
            this.style.top = nt + 'px';
        });
        $('#iframei').on('mouseup', function (e) {
            //开关关闭
            isDown = false;
            this.style.cursor = 'default';
        });
        $('#ModalTable').on('hide.bs.modal', function () {
            // 弹出框关闭动作
            $('#frameContainer').hide();
        });
        $('#ModalTable').on('show.bs.modal', function () {
            // 弹出框动作
            $('#frameContainer').show();
        });
        $(document).on('change', '#WeldLengthSel', function () {
            var txt = $('#WeldLengthSel option:selected').val();

            if (txt == '长') {
                $("#WeldLength").val($("#LengthVal").val());
                $("#WeldQuanlity").val($("#WeldLength").val() * $("#BeamNum").val()
                    * $("#Quantity").val() * $("#SectionArea").val() * 7.85 / 1000000)
            }
            if (txt == '宽') {
                $("#WeldLength").val($("#WidthVal").val());
                $("#WeldQuanlity").val($("#WeldLength").val() * $("#BeamNum").val()
                    * $("#Quantity").val() * $("#SectionArea").val() * 7.85 / 1000000)
            }
            if (txt == '长+宽') {
                $("#WeldLength").val(parseInt($("#LengthVal").val()) + parseInt($("#WidthVal").val()));
                $("#WeldQuanlity").val($("#WeldLength").val() * $("#BeamNum").val()
                    * $("#Quantity").val() * $("#SectionArea").val() * 7.85 / 1000000)
            }
            if (txt == '2*宽+长') {
                $("#WeldLength").val(2 * parseInt($("#WidthVal").val()) + parseInt($("#LengthVal").val()));
                $("#WeldQuanlity").val($("#WeldLength").val() * $("#BeamNum").val()
                    * $("#Quantity").val() * $("#SectionArea").val() * 7.85 / 1000000)
            }
            if (txt == '2*长+宽') {
                $("#WeldLength").val(2 * parseInt($("#LengthVal").val()) + parseInt($("#WidthVal").val()));
                $("#WeldQuanlity").val($("#WeldLength").val() * $("#BeamNum").val()
                    * $("#Quantity").val() * $("#SectionArea").val() * 7.85 / 1000000)
            }
            if (txt == '2*(长+宽)') {
                $("#WeldLength").val(2 * (parseInt($("#LengthVal").val()) + parseInt($("#WidthVal").val())));
                $("#WeldQuanlity").val($("#WeldLength").val() * $("#BeamNum").val()
                    * $("#Quantity").val() * $("#SectionArea").val() * 7.85 / 1000000)
            }

        });

        function saveWeldData(list, mode) {
            if (!list) {
                alert('未识别到焊缝');
            }
            var filename = $('#filename').val();
            if (!filename) {
                filename = 'sample1.dwg';
            }

            $.post('/WeldCategory/PostWeld',
                { beamId: $('#beamId').val(), dwgfile: filename, weldList: list }
            ).done(function (r) {
                if (r.result != 'success') {
                    alert('操作失败');
                    return;
                }
                LEAP.Common.MainPop.options.dataTable.fnDraw(false);
                if (mode === 2) { //手动添加焊缝操作
                    if (r.data == "1") {
                        alert("数据更新错误，请重新添加");
                    }
                    var rt = window.showModalDialog('Edit?Id=' + r.data + '&v=' + Math.random(), "编辑焊缝信息", editModalSetting);
                    LEAP.Common.MainPop.options.dataTable.fnDraw(false);
                } else { //全图识别操作
                    alert("识别完成");
                }
            });

        }

        function showEditForm(id) {
            var rt = window.showModalDialog('Edit?Id=' + id + '&v=' + Math.random(), "编辑焊缝信息", editModalSetting);
            LEAP.Common.MainPop.options.dataTable.fnDraw(false);
        }

        function AddHanfeng() {
            window.alert('请点击CAD相应位置开始添加焊缝');
            DoCmd(1);
        }

        function LocateWelding(hd, callback) {
            $.get('/WeldCategory/GetWeldingByHandle', { 'beamId': $('#beamId').val(), 'handleId': hd, 'v': Math.random() }).done(function (r) {
                if (r.result == 'success') {
                    if (callback) {
                        callback(r.data, r.Id);
                    }
                    else {
                        ZoomByHandle(r.data);
                    }
                    $('#locatedId').val(r.Id);
                    $('#btnSearch').click();
                    $('#btnShowAll').show();
                    setTimeout(function () { $('#locatedId').val('0'); }, 300);
                } else {
                    alert('未获取到焊缝位置或点击的元素不是焊缝');
                }
            });
        }

        function DingWei(hd) {
            ZoomByHandle(hd);
            if ($('#tableDiv').is(':visible')) {
                $('#btnCollapse').click();
            }
        }
        function showAll() {
            $('#search_condition').val('');
            $('#btnSearch').click();
            $('#btnShowAll').hide();
        }
        function requestApprove() {
            if (!confirm('提交将自动保存当前文件到服务器，确认提交审核？')) {
                return;
            }
            if (saveFile()) {
                var beamId = $('#beamId').val();
                $.get('RequestApproval?beamId=' + beamId).done(function (r) {
                    if (r.result == 'success') {
                        alert('提交成功');
                        isApproval = 1;
                        window.location = window.location.protocol + '//' + window.location.host + '/Project/Index';
                    } else {
                        alert(r.msg);
                    }
                });
            }
        }
        function nextBeam(projectid, beamid) {
            window.location = '/BeamInfo/index?projectId=' + projectid;
            //$.get('/Beaminfo/NextBeam', { projectId: projectid, beamId: beamid }).done(function (r) {
            //    if (r.result == 'success') {
            //        window.location = '/CategoryStat/index?projectId='+r.data1 +'&beamId=' + r.data;
            //    } else {
            //        alert('没有未完成的梁段');
            //    }
            //});
        }
        function DeleteData(id) {
            if (confirm('您确认删除此记录吗? ')) {
                $.get("Delete", {
                    "sIds": id
                }, function (r) {
                    LEAP.Common.MainPop.options.dataTable.fnDraw(false);
                });
            }
        }
        function saveFile() {
            if (mxOcx.SaveDwgFile($('#fileServerPath').val())) {
                return true;
            } else {
                var url = window.location.protocol + '//' + window.location.hostname;
                var port = window.location.port;
                if (mxOcx.SaveDwgToURL(url, "/beaminfo/PostDwgFile?beamid=" + $('#beamId').val(), "file", port)) {
                    return true;
                }
                else {
                    return false;
                }
            }
            return false;
        }
        function batchEdit() {
            var ids = '';
            $('.data-table td input[type=checkbox]').each(function (index, ctr) {
                if (ctr.checked) {
                    ids += $(ctr).val() + ',';
                }
            });
            showEditForm(ids);
        }
    </script>
}


<!--以下是CAD控件对象-->
<SCRIPT language="JavaScript">
    document.oncontextmenu = new Function('event.returnValue=false;'); //禁用右键
    function LoadMxDrawX(id, dwgfile, cabpath, msipath) {
        var s, classid, Sys = {}, ua = navigator.userAgent.toLowerCase();
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] : (s = ua.match(/trident\/([\d.]+)/)) ? Sys.ie9 = s[1] : (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] : (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] : (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] : (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0,
            classid = "74A777F8-7A8F-4e7c-AF47-7074828086E2",

            Sys.ie || Sys.ie9 ? (document.write("<!-- 用来产生编辑状态的ActiveX控件的JS脚本-->   "),
                document.write("<!-- 因为微软的ActiveX新机制，需要一个外部引入的js-->   "),
                document.write('<div id="cadContent" style="z-index:1; margin-top:20px;" >'),
                document.write('<object id="' + id + '" classid="clsid:' + classid + '" '),
                //document.write('width="85%" height="85%" align="left">   '),
                document.write('codebase="' + cabpath + '" width="100%" height="900px" align="left">   '),
                document.write('<param name="_Version" value="65536">  '),
                document.write('<param name="_ExtentX" value="24262">  '),
                document.write('<param name="_ExtentY" value="16219">  '),
                document.write('<param name="_StockProps" value="0">'),
                document.write('<param name="DwgFilePath" value="' + dwgfile + '" > '),
                document.write('<param name="IsRuningAtIE" value="1">'),
                document.write('<param name="EnablePrintCmd" value="1">  '),
                document.write('<param name="ShowCommandWindow" value="1">   '),
                document.write('<param name="ShowToolBars" value="1">  '),
                document.write('<param name="ShowModelBar" value="1">'),

                document.write('<param name="ToolBarFiles" value="">'),
                document.write('<param name="ShowMenuBar" value="1">'),
                document.write('<param name="EnableUndo" value="1">'),
                document.write('<param name="ShowPropertyWindow" value="1">'),
                document.write('<param name="wmode" value="opaque">'),
                document.write('<SPAN STYLE="color:red">不能装载文档控件。请在检查浏览器的选项中检查浏览器的安全设置。请点击<a href=' + msipath + '>安装控件</a></SPAN>'),
                document.write('</object>'),
                document.write('</div>')) :

                Sys.chrome ? (document.write('<div id="cadContent"  style="z-index:1; margin-top:20px;" >'),
                    document.write('<object id="' + id + '" clsid="{' + classid + '}" '),
                    document.write('type="application/mxdraw-activex" width="85%" height="85%" align="left"> '),
                    document.write('<param name="_Version" value="65536">  '),
                    document.write('<param name="_ExtentX" value="24262">  '),
                    document.write('<param name="_ExtentY" value="16219">  '),
                    document.write('<param name="_StockProps" value="0">'),
                    document.write('<param name="DwgFilePath" value="' + dwgfile + '" > '),
                    document.write('<param name="IsRuningAtIE" value="1">'),
                    document.write('<param name="EnablePrintCmd" value="1">  '),
                    document.write('<param name="ShowCommandWindow" value="1">   '),
                    document.write('<param name="ShowToolBars" value="1">  '),
                    document.write('<param name="ShowModelBar" value="1">'),
                    document.write('<param name="Iniset" value="CHROME=Y,LimitDisplayObjectNumber=10">  '),
                    document.write('<param name="ToolBarFiles" value="">'),
                    document.write('<param name="ShowMenuBar" value="1">'),
                    document.write('<param name="EnableUndo" value="1">'),
                    document.write('<param name="ShowPropertyWindow" value="1">'),
                    document.write('<param name="wmode" value="opaque">'),
                    document.write('<param name="Event_ImplementCommandEvent" value="DoCommandEventFunc">'),
                    document.write('<SPAN STYLE="color:red">不能装载文档控件,谷歌浏览器使用,下载MxChrome安装包到本地，安装后点击桌面 Chrome企业版 快捷方式启动。请点击<a href=' + msipath + '>安装控件</a></SPAN>'),
                    document.write('</object>'),
                    document.write('</div>')) :

                    Sys.firefox ? (document.write("<!-- 需要安装ieTab插件才能使用-->   "),
                        document.write("<!-- 右键弹出菜单，点击使用ieTab浏览> -->  "),

                        document.write('<div class="no_title">  不能装载文档控件。1.请在安装ieTab插件，2.然后请点击<a href=' + msipath + '>安装控件</a>, 3.然后右键弹出菜单，点击使用ieTab浏览 </div> ')

                    ) :
                        Sys.opera ? alert("sorry,ntko 暂时不支持opera!") :
                            Sys.safari && alert("sorry,ntko 暂时不支持safari!");
    }


    function isFireFox() {
        var s, classid, Sys = {}, ua = navigator.userAgent.toLowerCase();
        (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] : (s = ua.match(/trident\/([\d.]+)/)) ? Sys.ie9 = s[1] : (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] : (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] : (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] : (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;

        return Sys.firefox;
    }
</SCRIPT>
<script type="text/javascript">LoadMxDrawX("MxDrawXCtrl", "", "http://www.mxdraw.com/MxDrawX52.CAB#version=11,0,0,1", "http://www.mxcad.net:2080/MxChromex86Setup.exe");</script>
<script src="~/Scripts/util.cad.js"></script>
