@model IEnumerable<Infrastructure.Web.Domain.ModelsView.WeldingView>
@{
    Layout = "~/Views/Shared/_LayoutWithoutMenu.cshtml";
}
@section easyui_css{
    <link rel="stylesheet" href="~/Style/EasyUI/easyui.css" />
}
<style>
    .datagrid-mask-msg {
        height: 36px !important;
    }

    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }

        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }

    .chosen-container {
        width: 100%;
        max-width: 362px;
    }
    .form-group {
        padding-left: 15px;
    }
    .pull-right{
        padding-right:15px;
    }
</style>
<!--Action boxes-->
<div class="row">
    <input type="hidden" id="isApprover" value="@ViewBag.isApprover" />
    <input type="hidden" id="beamId" value="@ViewBag.BeamId" />
    <form class="form-inline" id="SearchForm" method="post">
        <div class="form-group">
            <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder="项目名称" onkeydown='if(event.keyCode==13) return false;'>
            <a href="#" class="btn btn-info btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="查询条件"><i class="fa fa-search">查询</i></a>
        </div>
        <div class="form-group pull-right">
            <span href="ExportToExcelDownload" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="导出Excel" id="btnDownloadExport">
                <i class="fa fa-download"></i> 导出Excel
            </span>
        </div>
    </form>
    <div class="clearfix"></div>
    <div class="col-sm-12">

        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered table-hover data-table">
                    <thead>
                        <tr>
                            
                            <th style="width:5%;text-align:center;">@T("序号")</th>
                            <th>@T("项目名称")</th>
                            <th>@T("厂址")</th>
                            <th>@T("焊材类型")</th>
                            <th>@T("焊材型号")</th>
                            <th>@T("焊材规格")</th>
                            <th>@T("焊缝重量")</th>
                            <th>@T("单位")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts_Foot
{
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>

    <script src="~/Scripts/ace/chosen.jquery.js"></script>
    <script type="text/javascript">
        //$('[data-toggle="tooltip"]').tooltip();
        var popMenu;
        var IdCur;
        @*var isapprover = @ViewBag.isApprover;
        var userId = @ViewBag.UserId;
        var tastStatus = { new: 0, pending: 1, approved: 2, rejected: 3 };*@
        $(document).ready(function () {
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetWeldingDownloadList"
                },
                "paging": true,
                "info": false,
                "aoColumns": [
                    { "mData": 'Index' },
                    { "mData": 'ProjectName' },
                    { "mData": 'AddressName' },
                    { "mData": 'WeldType' },
                    { "mData": 'WeldingModel' },
                    { "mData": 'WeldingSpecific' },
                    { "mData": 'Quality' },
                    { "mData": 'WeldingUnit' }
                ],
                "columnDefs": [
                    {
                        "targets": 0,
                        "render": function (data, type, full, meta) {
                            return full.Index;
                            //return '<input type="checkbox" value="' + full.Id + '" title="' + full.Index + '" id="checkbox" />';
                        }
                    }],
                fnDrawCallback: function () {
                    $('[data-toggle="tooltip"]').tooltip();
                    if ($('.total-count').length > 0) {
                        $('.total-count').remove();
                    }
                    $('.dataTables_wrapper .dataTables_length').append('<label class="total-count" style="margin-left:30px">总条数：' + LEAP.Common.MainPop.options.dataTable.fnSettings().fnRecordsTotal() + '条</label>');
                }
            }));
            //inital select2
            $('.select2').css("width", "362px").select2({ allowClear: true });
            //删掉chosen的内联样式
            setTimeout(function () {
                $('.chosen-container').removeAttr('style');
            }, 3000);
            $('#btnSearch').on('click', function () {
                var para = '';
                var dSearch = $("#SearchForm").serializeArray();
                if (!BeforeExport(dSearch)) {
                    return false;
                }
                $.each(dSearch, function (key, val) {
                    para += val.name + '=' + val.value + '&';
                });
                $('#btnDownloadExport').attr('href', "ExportToExcelDownload?" + para + "t=" + (new Date()).getTime());
            });
        });
        $(document).on('click', '#btnDownloadExport', function () {
            var idPara = '';
            var ids = '';
            $('.data-table td input[type=checkbox]').each(function (index, ctr) {
                if (ctr.checked) {
                    ids += $(ctr).val() + ',';
                }
            });
            if (ids.length > 0) {
                idPara = '&Ids=' + ids;
            }
            window.location.href = $('#btnDownloadExport').attr('href') + idPara;
        });
    </script>
}

