@*@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
}

<h1 class="text-danger">错误。</h1>
<h2 class="text-danger">处理你的请求时出错。</h2>
<h3>Message:@Model.Exception.Message</h3>
<h3>Stack:@Model.Exception.StackTrace</h3>*@


@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "发生了错误";
}

<h2>站点发生错误</h2>

@if (Model != null)
{
    <p>
        @Model.Exception.GetType().Name<br />
    thrown in @Model.ControllerName @Model.ActionName
</p>
    <p>错误信息:</p>
    <p>@Model.Exception.Message</p>
    
#if DEBUG
       <p>@Model.Exception.StackTrace</p> 
#endif
        
}

