@model IEnumerable<Infrastructure.Web.Domain.ModelsView.WeldCategoryStatisticsVView>
@section easyui_css{
    <link rel="stylesheet" href="~/Style/EasyUI/easyui.css" />
}
<style>
    .datagrid-mask-msg {
        height: 36px !important;
    }
    .form-control{
        display: inline;
        max-width: 300px;
    }
    .redirect-button {
        border-radius: 0 !important;
        background-color: #fff;
        border: 1px solid #d5d5d5;
        padding: 4px 2px 5px;
        font-size: 14px;
        font-family: inherit;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        -webkit-transition-duration: .1s;
        transition-duration: .1s;
        vertical-align: middle;
        width: 110px;
        float:right
    }

</style>
<!--Action boxes-->
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline" id="SearchForm">
            <div class="form-group">
                <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder="名称">
                <a href="#" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
            </div>
            <div class="form-group pull-right">
                <a href="#" class="btn btn-success btn-sm" id="btnAdd" data-toggle="tooltip" data-placement="top" title="添加">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </form>
        <div class="clearfix"></div>

        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered table-hover data-table">
                    <thead>
                        <tr>
                            <th style="width:5%;text-align:center;">@T("序号")</th>
                            <th>@T("项目名称")</th>
                            <th>@T("厂址")</th>
                            <th>@T("焊接位置")</th>
                            <th>@T("焊缝类型")</th>
                            <th>@T("焊缝位置")</th>
                            <th>@T("坡口形式")</th>
                            <th>@T("焊缝截面积") (mm<sup>2</sup>)</th>
                            <th>@T("焊材型号")</th>
                            <th style="width:10%;">@T("操作")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="ModalTable" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">请填写以下内容</h4>
            </div>

            <div class="modal-body">
                <form action="Post" id="ff" method="get" class="form-horizontal" datasource="Get">
                    <input type="hidden" id="ID" name="ID" value="0" />
                    <input type="hidden" id="ProjectId" data-bind="value: ProjectId" />
                    @*<input type="hidden" id="CreatedDate" name="CreatedDate" data-bind="value: CreatedDate" validate="{required:false}" value="1970-01-01"/>
        <input type="hidden" id="CreatedUserID" name="CreatedUserID" data-bind="value: CreatedUserID" validate="{required:false}" value="0" />*@
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目:</label>
                        <div class="col-sm-9">
                            <select class="chosen-select form-control" id="ProjectName" name="ProjectId" style="display:none" data-bind="value:ProjectId" validate="{required:true}"></select>
                            <button class="redirect-button" href="/Project/Index">项目管理</button>
                            @*<input type="text" name="GrooveType" class="form-control" placeholder="请输入" data-bind="value: ProjectName"
                validate="{required:true}" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">厂址:</label>
                        <div class="col-sm-9">
                            <select class="single-select form-control" id="AddressName" name="AddressId" style="" data-bind="value:AddressId" validate="{required:true}" data-geturl="/Address/GetDropdownList"></select>
                            <button class="redirect-button" href="/Address/Index">厂址管理</button>
                            @*<input type="text" name="GrooveType" class="form-control" placeholder="请输入" data-bind="value: AddressName"
        validate="{required:true}" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">焊缝类型:</label>
                        <div class="col-sm-9">
                            <select class="single-select form-control" id="WeldType" name="WeldTypeId" style="" data-bind="value:WeldTypeId" validate="{required:true}" data-geturl="/WeldGeometry/GetDropdownList"></select>
                            <button class="redirect-button" href="/WeldGeometry/Index">焊缝类型管理</button>                        
    @*<input type="text" name="Thickness" class="form-control" placeholder="请输入" data-bind="value: Thickness"
                validate="{required:true}" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">焊缝位置:</label>
                        <div class="col-sm-9">
                            <select class="single-select form-control" id="WeldLocationType" name="WeldLocationId" style="" data-bind="value: WeldLocationId" validate="{required:true}" data-geturl="/WeldLocation/GetDropdownList"></select>
                            <button class="redirect-button" href="/WeldLocation/Index">焊缝位置管理</button>                        
    @*<input type="text" name="WeldLocationType" class="form-control" placeholder="请输入" data-bind="value: WorksThicknessH1"
        validate="{required:true}" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">焊接位置:</label>
                        <div class="col-sm-9">
                            <select class="single-select form-control" id="HanJieType" name="HanjieId" style="" data-bind="value: HanjieId" validate="{required:true}" data-geturl="/HanjieLocation/GetDropdownList"></select>
                            <button class="redirect-button" href="/HanJieLocation/Index">焊接位置管理</button>                        
    @*<input type="text" name="WeldGeometry" class="form-control" placeholder="请输入" data-bind="value: WeldGeometry"
                validate="{required:true}" />*@
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="col-sm-3 control-label">板厚(mm):</label>
                        <div class="col-sm-9">
                            <select class="single-select form-control" id="ThickType" name="ThicknessId" style="" data-bind="value: ThicknessId" validate="{required:true}" data-geturl="/Thickness/GetDropdownList"></select>
                            <button class="redirect-button" href="/Thickness/Index">板厚管理</button>                        
    @*<input type="text" name="WorksThicknessH2" class="form-control" placeholder="请输入" data-bind="value: WorksThicknessH2"
        validate="{required:true}" />*@
                        @*</div>*@
                    @*</div>*@
                    <div class="form-group">
                        <label class="col-sm-3 control-label">坡口形式:</label>
                        <div class="col-sm-9">
                            <select class="single-select form-control" id="GrooveType" name="GrooveTypeId" style="" data-bind="value: GrooveTypeId" validate="{required:true}" data-geturl="/GrooveType/GetDropdownList"></select>
                            <button class="redirect-button" href="/GrooveType/Index">坡口形式管理</buttonclass="redirect-button">                        
    @*<input type="text" name="GrooveClearance" class="form-control" placeholder="请输入" data-bind="value: GrooveClearance"
        validate="{required:true}" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">焊材类型:</label>
                        <div class="col-sm-9">
                            <select class="single-select form-control" id="WeldingType" name="WeldingId" style="width:100px;display: inline;" data-bind="value: WeldingId" validate="{required:true}" data-geturl="/Welding/GetDropdownList"></select>
                            <input id="WeldingModel" name="WeldingModel" data-bind="value: WeldingModel" class="form-control" style="width: calc(100% - 140px);max-width: 179px; display: inline;" />
                            <button class="redirect-button" href="/Welding/Index">焊材类型管理</button>                        
    @*<input type="text" name="WeldingType" class="form-control" placeholder="请输入" data-bind="value: BluntThickness"
        validate="{required:true}" />*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">焊缝截面积:</label>
                        <div class="col-sm-9">
                            <input type="text" name="SectionalArea" class="form-control" placeholder="请输入" data-bind="value: SectionalArea"
                                   validate="{required:true}" />
                            <button class="redirect-button" href="/GrooveType/Calculate">焊缝截面积管理</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>

                <button class="btn btn-sm btn-primary" data-action="save">
                    <i class="ace-icon fa fa-check"></i>
                    保存
                </button>
            </div>
        </div>
    </div>
</div>

@section scripts_Foot
{
    <script src="~/Scripts/EasyUI/jquery.easyui.min.js"></script>
    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="~/Scripts/ace/chosen.jquery.js"></script>
    <script type="text/javascript">
        //$('[data-toggle="tooltip"]').tooltip();
        var popMenu;
        var IdCur;

        $(document).ready(function () {
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetList"
                },
                "paging": true,
                "info": false,
                "aoColumns": [
                    { "mData": 'Id' },
                    { "mData": 'ProjectName' },
                    { "mData": 'AddressName' },
                    { "mData": 'HanJieType' },
                    { "mData": 'WeldType' },
                    { "mData": 'WeldLocationType' },  
                    { "mData": 'GrooveType' },
                    { "mData": 'SectionalArea' },
                    { "mData": 'WeldingModel' },
                ],
                "columnDefs": [
                    {
                        "targets": 9,
                        "render": function (data, type, full, meta) {
                            return '<a href="#" onclick="LEAP.Common.MainPop.ShowUpdateInfo(\'' + full.Id + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="编辑"><i class="fa fa-pencil"></i></a>' +
                                '<a href="#" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',2);return false;" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除">' +
                                '<i class="fa fa-trash-o"></i></a>';
                        }
                    }],
                fnDrawCallback: function () {
                    $('[data-toggle="tooltip"]').tooltip();
                }
            }));
            //inital select2
            $('.select2').css("width", "362px").select2({ allowClear: true });
            //获取项目信息
            BindChosen('/Project/GetDropdownList', $('#ProjectName'), InitChosen);
            $.each($('.single-select '), function (i, obj) {
                BindSelect(obj);
            });
            $(document).on('change', '#WeldingType', function () {
                var id = $('#WeldingType option:selected').val();
                $('#WeldingModel').val('');
                if (id) {
                    GetWeldingModel(id);
                }
            });
            $(document).on('click', '.redirect-button', function () {
                var url = $(this).attr('href');
                window.location = url;

            });
        });

        //应当出去js包
        function InitChosen(select) {
            $(select).chosen({ allow_single_deselect: true }).change(function () { console.log('change'); });
            $(select).bind("change", function () {
                $(select).trigger('chosen:updated');
            });
            setTimeout(function () {
                var pwidth = Math.min($(select).parent().width(), 300);
                $(select).next().css({ 'width': pwidth });
            }, 1000);
            
            //resize the chosen on window resize            
            $(window).on('resize.chosen', function () {
                var w = Math.min($('.chosen-select').parent().width(), 300);
                $('.chosen-select').next().css({ 'width': w });
            }).trigger('resize.chosen');
        }

        function BindSelect(select) {
            var url = $(select).attr('data-geturl');
            $(select).children().remove();
            $(select).append('<option value></option>');
            $.ajax(url)
                .done(function (data) {
                    $.each(data, function (i, op) {
                        $(select).append('<option value="' + op.key + '">' + op.value + '</option>');
                    });
                });
        }

        function BindChosen(url, select, callback, search) {
            $(select).children().remove();
            $(select).append('<option value></option>');
            $.ajax(url)
                .done(function (data) {
                    $.each(data, function (i, op) {
                        $(select).append('<option value="' + op.key + '">' + op.value + '</option>');
                    });
                    if (callback) {
                        callback(select);
                    }
                });
        }

        function GetWeldingModel(id) {
            $.ajax({ url: '/Welding/GetModelById', data: { id: id } })
                .done(function (data) {
                    $('#WeldingModel').val(data);
                });
        }
    </script>
}

