@model IEnumerable<Infrastructure.Web.Domain.ModelsView.ProjectView>
@section easyui_css{
    <link rel="stylesheet" href="~/Style/EasyUI/easyui.css" />
}
<style>
    .datagrid-mask-msg {
        height: 36px !important;
    }
    table.gridtable {
        font-family: verdana,arial,sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #666666;
        border-collapse: collapse;
    }

    table.gridtable th {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #dedede;
    }

    table.gridtable td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #666666;
        background-color: #ffffff;
    }
</style>
<!--Action boxes-->
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline" id="SearchForm">
            <div class="form-group">
                <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder="名称">
                <a href="#" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="搜索条件"><i class="fa fa-search"></i></a>
            </div>

        </form>
        <div class="clearfix"></div>

        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered table-hover data-table">
                    <thead>
                        <tr>
                            <th style="width:5%;text-align:center;">@T("ID")</th>
                            <th>@T("项目名称")</th>
                            <th>@T("项目类型")</th>
                            <th>@T("所属机构")</th>
                            <th>@T("状态")</th>
                            <th style="width:10%;">@T("操作")</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="ModalTable" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">历史消耗</h4>
            </div>

            <div class="modal-body">
                <form action="Post" id="ff" method="get" class="form-horizontal" datasource="Get">
                    <input type="hidden" id="ID" name="ID" value="0" />
                    <div>
                        <div style="float:right">
                            <button class="btn btn-sm btn-primary" data-action="download">
                                <i class="ace-icon fa fa-check"></i>
                                下载模板
                            </button>
                            <button class="btn btn-sm btn-primary" data-action="submit">
                                <i class="ace-icon fa fa-check"></i>
                                提交
                            </button>
                        </div>
                        <br />
                        <div style="clear:both">
                            <table class="gridtable">
                                <thead>
                                    <tr>
                                        <th style="width:5%;text-align:center;">@T("序号")</th>
                                        <th>@T("文件名")</th>
                                        <th>@T("上传者")</th>
                                        <th>@T("上传日期")</th>
                                    </tr>
                                </thead>
                                @foreach (var item in ViewBag.list)
                                {
                                    <tr>
                                        <td>
                                            @item.Id
                                        </td>
                                        <td>
                                            @item.HistoricalFile
                                        </td>
                                        <td>
                                            @item.CreatedUserID
                                        </td>
                                        <td>
                                            @item.CreatedDate
                                        </td>

                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    取消
                </button>


            </div>
        </div>
    </div>
</div>

@section scripts_Foot
{
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip();
        var popMenu;
        var IdCur;

        $(document).ready(function () {
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetList"
                },
                "paging": true,
                "info": false,
                "aoColumns": [
                    { "mData": 'Id' },
                    { "mData": 'ProjectName' },
                    { "mData": 'ProjectType' },
                    { "mData": 'AffiliatedInstitution' },
                    { "mData": 'Status' },
                    { "mData": "Operation" }
                ],
                "columnDefs": [
                    {
                        "targets": 5,
                        "render": function (data, type, full, meta) {
                            return '<a href="#" onclick="LEAP.Common.MainPop.ShowUpdateInfo(\'' + full.Id + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="历史消耗"><i class="fa fa-pencil"></i></a>';
                        }
                    }],
                fnDrawCallback: function () {

                    $('[data-toggle="tooltip"]').tooltip();

                }
            }));
            //inital select2
            $('.select2').css("width", "362px").select2({ allowClear: true });
        });
    </script>
}