@model IEnumerable<Infrastructure.Web.Domain.ModelsView.BeamInfoView>
@section easyui_css{
    <link rel="stylesheet" href="~/Style/EasyUI/easyui.css" />
}
<style>
    .datagrid-mask-msg {
        height: 36px !important;
    }

    .chosen-container {
        width: 100%;
        max-width: 362px;
    }

    .progress {
        width: 100%;
        max-width: 362px;
    }
</style>
<!--Action boxes-->
<div class="row">
    <div class="col-sm-12">
        <form class="form-inline" id="SearchForm" onsubmit="return false;">
            <input type="hidden" id="project_id" name="project_id" value="@ViewBag.ProjectId" />
            <input type="hidden" id="currentUserId" value="@ViewBag.CurUserId" />
            @*<div class="form-group">
                    <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder="文件名称">
                    <a href="#" class="btn btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="查询条件"><i class="fa fa-search"></i>查询</a>
                </div>
                <div class="form-group pull-right">
                    <a href="#" class="btn btn-info btn-sm" id="btnAdd" data-toggle="tooltip" data-placement="top" title="文件上传">
                        文件上传
                    </a>
                </div>*@
            <div>
                <input class="form-control" type="text" id="search_condition" name="search_condition" placeholder="文件名">
                <a href="#" class="btn btn-info btn-sm" id="btnSearch" data-toggle="tooltip" data-placement="top" title="查询条件"><i class="fa fa-search">查询</i></a>
                <div class="form-group pull-right">
                    @*<a href="" class="btn btn-info btn-info" id="btnProject" data-toggle="tooltip" data-placement="top" title="项目管理">
            项目管理
        </a>*@
                    <a href="/Project/Index" class="btn btn-info btn-sm" id="btnReturn" data-toggle="tooltip" data-placement="top" title="返回">
                        项目管理
                    </a>
                   
                    <a href="#" class="btn btn-info btn-sm" id="btnAdd" data-toggle="tooltip" data-placement="top" title="文件上传">
                        文件上传
                    </a>
                </div>
                @*<div style="float:right">
                        <button type="button" id="btnDeleteAll" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="批量删除">批量删除</button>
                        <button type="button" id="btnFileAnalysis" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="归档分析">归档分析</button>
                        <button type="button" id="btnDownloadDWG" class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="DWG下载">DWG下载</button>
                    </div>*@
            </div>
        </form>

        <div class="clearfix"></div>

        <div class="widget-box">
            <div class="widget-content nopadding">
                <table class="table table-bordered table-hover data-table">
                    <thead>
                        <tr>
                            <th style="width:5%;text-align:center;">@T("ID")</th>
                            <th>@T("项目")</th>
                            <th>@T("梁段名")</th>
                            <th>@T("文件名")</th>
                            @*<th>@T("上传进度")</th>*@
                            <th>@T("状态")</th>
                            <th style="width:25%;">@T("操作")</th>
                        </tr>

                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="ModalTable" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="blue bigger">请选择文件上传</h4>
            </div>


            <div class="modal-body">
                <form action="PostFile" id="ff" method="post" class="form-horizontal" data-ajax="false" enctype="multipart/form-data">
                    <input type="hidden" id="ID" name="ID" value="0" />
                    <div class="form-group">
                        <label class="col-sm-3 control-label">项目:</label>
                        <div class="col-sm-9">
                            @if (string.IsNullOrEmpty(ViewBag.ProjectId))
                            {
                                <select class="chosen-select form-control" id="ProjectName" name="ProjectId" style="" data-bind="value:ProjectId" validate="{required:true}"></select>
                            }
                            else
                            {
                                <span class="form-control" style="max-width: 362px">@ViewBag.ProjectName</span>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">上传文件:</label>
                        <div class="col-sm-9">
                            @*<input type="file" id="upload-input" multiple="multiple" name="uploadfile" class="form-control" placeholder="请输入"
                                accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                validate="{required:true}" />*@
                            <input id="upload-input" class="form-control " multiple="multiple" type="file" name="file" onchange="return uploadFile(this);"
                                   accept="*" />
                            <div class="progress" style="margin-bottom: 0px;margin-top:5px;">
                                <div id="progress-bar" class="progress-bar" style="width:0">0</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                @*<button class="btn btn-sm" data-dismiss="modal">
                        <i class="ace-icon fa fa-times"></i>
                        取消
                    </button>*@<button class="btn btn-sm" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                </button>
                @*<button class="btn btn-sm btn-info" data-action="save" id="btnSave">
                        <i class="ace-icon fa fa-check"></i>
                        完成
                    </button>*@
                @*<button class="btn btn-sm btn-info" data-action="save" id="btnSave">
                    <i class="ace-icon fa fa-check"></i>
                </button>*@
            </div>
        </div>
    </div>
</div>


@section scripts_Foot
{
    <script src="~/Scripts/ace/chosen.jquery.js?v=1"></script>
    <script type="text/javascript">
        $('[data-toggle="tooltip"]').tooltip();
        var popMenu;
        var IdCur;
        var tastStatus = { new: 0, pending: 1, approved: 2, rejected: 3 };
        $(document).ready(function () {
            LEAP.Common.MainPop.options.dataTable = $('.data-table').dataTable(jQuery.extend(true, datatableSetting, {
                "ajax": {
                    "url": "GetList?project_id=" + $('#project_id').val()
                },
                "paging": true,
                "info": false,
                "aoColumns": [
                    { "mData": 'Index' },
                    { "mData": 'ProjectName' },
                    { "mData": 'BridgeComponent' },
                    { "mData": 'DwgFile' },
                    //{ "mData": 'TheModel' },
                    { "mData": 'Status' }
                ],
                "columnDefs": [
                    {
                        "targets": 5,
                        "render": function (data, type, full, meta) {
                            var opstr = '';
                            //opstr = opstr + '<a href="#" onclick="tasklist(\'' + full.Id + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="审核列表"><i class="ace-icon glyphicon glyphicon-list"></i></a>';
                            if (full.TaskStatus != tastStatus.pending && full.TaskStatus != tastStatus.approved) {
                                opstr = opstr + '<a href="#" onclick="CategoryStat( ' + full.ProjectId + ',' + full.Id + ');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="焊缝类别统计">类别统计</a>';
                                if (full.ProcessStatus > 0) {
                                    opstr = opstr + '<a href="#" onclick="weldcategory(' + full.ProjectId + ',' + full.Id + ');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="焊缝类别标注">类别标注</a>';
                                }
                                if (full.CreatedUserID == $('#currentUserId').val()) {
                                    opstr = opstr + '<a href="#" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',2);return false;" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除"><i class="fa fa-trash-o"></i></a>';
                                }
                                //opstr = opstr + '<a href="#" onclick="weldcategory(\'' + full.Id + '\');return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="焊缝类别标注"><i class="ace-icon glyphicon  glyphicon-credit-card"></i></a>' +
                                //    '<a href="#" onclick="LEAP.Common.MainPop.RowClick(\'' + full.Id + '\',2);return false;" class="btn btn-danger btn-xs" id="btnDelete" data-toggle="tooltip" data-placement="top" title="删除">' +
                                //    '<i class="fa fa-trash-o"></i></a>';
                            } else {
                                opstr = opstr + '<a href="#" onclick="weldcategory(' + full.ProjectId + ',' + full.Id + ', 1);return false;" class="artDailog btn btn-info  btn-xs" style="margin-right:4px;" data-toggle="tooltip" data-placement="top" title="查看焊缝标注"><i class="ace-icon glyphicon  glyphicon-eye-open"></i></a>';
                            }
                            return opstr;
                        }
                    }],
                fnDrawCallback: function () {

                    $('[data-toggle="tooltip"]').tooltip();

                }
            }));
            //inital select2
            $('.select2').css("width", "362px").select2({ allowClear: true });
            setTimeout(function () {
                $('.chosen-container').removeAttr('style');
            }, 3000);
        });
        function CategoryStat(pid, id) {
            window.location = '/CategoryStat/index?ProjectId=' + pid + '&beamId=' + id;
        }
        function weldcategory(pid, id, view) {
            var url = view ? '/weldcategory/index?beamId=' + id + '&viewMode=1' : '/weldcategory/index?beamId=' + id;
            window.location = url;
        }
        function weldcognize(dwgfile) {
            window.location = '/WeldCognition/index?fileName=' + dwgfile;
        }
        function tasklist(pid) {
            window.location = '/tasklist/index?projectid=' + pid;
        }
        function ProjectPage() {
            window.location = '/Project/Index?projectid=' + $('#project_id').val();
        }
        $(document).on('click', '#btnSave', function (e) {
            $('.form-horizontal').submit();
        });
        function uploadFile(obj) {          
            var pid = $('#project_id').val();
            if (!pid) {                
                pid = $('#ProjectName').val();
            }
            if (!pid) {
                bootbox.alert('没有选择项目，请刷新页面重试');
                return;
            }
            var strUrl = "PostFile?ProjectId=" + pid + '&v=' + Math.random();
            if (!$(obj).val()) {
                return;
            }
            $(obj).FileUpload({
                self: obj,
                url: strUrl,
                allowExtension: '.dwg',
                rewriteDocumentId: '',
                processBarId: 'progress-bar',
                callBack: function (data) {
                    if (data.Message.Status != 200) {
                        bootbox.alert(data.Message.Text);
                        LEAP.Common.MainPop.options.dataTable.fnDraw(false);
                        //location.reload();
                    } else {
                        bootbox.alert("上传成功");
                        LEAP.Common.MainPop.options.dataTable.fnDraw(false);
                        //location.reload();                        
                    }
                    $('#ModalTable .close').click();
                    //清空文件状态
                    $('#upload-input').val('');
                    
                }
            });
        }
        //获取项目信息
        BindChosen('/Project/GetDropdownList', $('#ProjectName'), InitChosen);
        //应当出去js包
        function InitChosen(select) {
            $(select).chosen({ allow_single_deselect: true, width: '362px' }).change(function () { console.log('change'); });
            $(select).bind("change", function () {
                $(select).trigger('chosen:updated');
                $('#project_id').val($('#ProjectName').val());
            });
            setTimeout(function () {
                var w = Math.min($('.chosen-select').parent().width(), 362);
                $('.chosen-container').css('width', w)
            }, 1000);

            //resize the chosen on window resize
            $(window).on('resize.chosen', function () {
                var w = Math.min($('.chosen-select').parent().width(), 362);
                $('.chosen-select').next().css({ 'width': w });
            }).trigger('resize.chosen');
        }
        function BindChosen(url, select, callback, search) {
            var pid = $('#project_id').val();
            $(select).children().remove();
            $(select).append('<option value></option>');
            $.ajax(url)
                .done(function (data) {
                    $.each(data, function (i, op) {
                        if (op.key == pid) {
                            $(select).append('<option selected="selected" value="' + op.key + '">' + op.value + '</option>');
                        }
                        else {
                            $(select).append('<option value="' + op.key + '">' + op.value + '</option>');
                        }
                    });
                    if (callback) {
                        callback(select);
                    }
                });
        }


    </script>
}